/* EquipmentList.css */

.equipment-table {
    width: 100%;
    border-collapse: collapse;
}

.equipment-table th,
.equipment-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.equipment-table th {
    background-color: #f2f2f2;
    /* Other table styles */
}

.add-equipment-button {
    background-color: #678983; /* Blue color, you can change it */
    color: #fff; /* Text color */
    padding: 10px 20px; /* Padding */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Cursor style */
    transition: background-color 0.3s; /* Smooth transition for background color */
  }
  
  .add-equipment-button:hover {
    background-color: #181D31; /* Darker blue color on hover */
  }
  

/* Additional styles as needed */
