

.page-container {
    display: flex;
    justify-content: center; /* Horizontally center content */
    align-items: center; /* Vertically center content */
    height: 100vh; /* Full height of viewport */
    background-image: url('../assets/2112_w037_n003_109b_p1_109.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.table-container {
    max-width: 800px; /* Limit the width of the table */
    width: 100%;
}

.user-table {
    width: 100%;
    border-collapse: collapse;
    top: 200px;
    margin: auto; /* Center the table horizontally */
    max-width: 800px; /* Limit the width of the container */
}

th.table-header {
    background-color: #181D31; /* Dark blue color */
    color: white; /* White text color */
    padding: 10px; /* Adjust padding as needed */
}

.user-table-container {
    background-color: rgba(255, 255, 255, 0.5); /* Transparent white background */
    backdrop-filter: blur(10px); /* Apply blur effect */
    border-radius: 10px;
    padding: 20px;
    overflow-x: auto;
}

table.user-table th {
    background-color: rgba(0, 0, 0, 0.5); /* Transparent black background */
}

table.user-table th,
table.user-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    background-color: rgba(255, 255, 255, 0.5); /* Transparent white background */
    backdrop-filter: blur(10px); /* Apply blur effect */
}

table.user-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.status-active {
    background-color: green; /* Green for active */
    color: white;
}

.status-expired {
    background-color: red; /* Red for expired */
    color: white;
}

.status-maintenance-required {
    background-color: yellow; /* Yellow for maintenance required */
    color: black;
}

.delete,
.update{
    background-color: #181D31;
    color: #E6DDC4;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
}

.btn:hover {
    background-color: #0056b3;
}
